extends layout.pug

append head
  //- add page specific styles by appending to the head
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
 
block content
    #centeringDiv
      div 
        h1= title 
      div
        each story in stories
          div(class="storyBoxWrapper" id=`storyId${story.id}`)
            .storyBox
              .storyBoxHeader
                .storyBoxHeaderProfile
                  img(src=`/img/users/user${story.userId%20}.png` height='20px')
                  p(id="userNameText")=`${story.User.userName.toUpperCase()}`
                  - let date = story.createdAt.toString();
                  p(id='storyWrittenDate')=`${date.slice(0,15)}`
                .storyBoxHeaderMenu
                  .dropdown
                    i(class="fa fa-bars" aria-hidden="true" id='dropbtn')
                    .dropdown-content
                        
                      if story.isbookmarked === 1
                        div(class='bookmarkBtn fab' id=`faID${story.id}ID${userId}`)
                          i(class="fa fa-bookmark" aria-hidden="true")
                      else
                        div(class='bookmarkBtn' id=`faID${story.id}ID${userId}`)
                          i(class="fa fa-bookmark-o" aria-hidden="true" class='bookmarkBtn' id=`faID${story.id}ID${userId}`)
                      end
                      if userId === story.userId
                        a(href=`/stories/edit/${story.id}`)
                          i(class="fa fa-pencil-square-o" aria-hidden="true")
                        a(href=`/stories/delete/${story.id}`)
                          i(class="fa fa-trash-o" aria-hidden="true")
                      end
              .storyBoxContent(class="storyBoxClick" id=`SBHId${story.id}`)
                .storyBoxContentTextBox
                  h2=story.title.toUpperCase()
                  p(id='storyContentText') #{story.content.slice(0,200)+'...'}
                .storyBoxContentImgBox
                  img(src=`/img/gameimg/game${story.gameId}.png` height='120px')
              .storyBoxFooter
                #topicButton
                  a(id='topiclink' href="")=story.topicType
                p(id='gameTitleText' href="")=story.Game.title
                if userId !== 0
                .bookmarkImgBox(class='bookmarkBtn' id=`bkmimgCID${story.id}ID${userId}`)
                  if story.isbookmarked === 1
                    img(src='/img/bookmarks_black.png' id=`bmrkimgID${story.id}ID${userId}` height='20px')
                  else
                    img(src='/img/bookmarks_white.png' id=`bmrkimgID${story.id}ID${userId}` height='20px')
                  end
                end
