extends layout

append head
  //- add page specific styles by appending to the head
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Welcome to your Project Skeleton
  div 
  table(class='table table-striped table-hover')
      thead(class='thead-dark')
        tr
          th(scope='col') Story Title
          th(scope='col') Story Contents
          th(scope='col') Topic Type
          th(scope='col') User Name
          th(scope='col') Game Title
      tbody
        each story in stories
          tr
            td= story.title
            td= story.content
            td= story.topicType
            td= `${story.User.firstName} ${story.User.lastName}`
            td= story.Game.title