extends layout.pug

append head
  //- add page specific styles by appending to the head
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    h1= title
    each story in stories
      div(class="storyBoxWrapper" id=`storyId${story.id}`) 
        .storyBox 
          .storyBoxHeader
            img(src='/img/usericon.png' height='20px')
            p=`${story.User.firstName} ${story.User.lastName}` 
          .storyBoxContent 
            .storyBoxContentTextBox
              h2=story.title
              p(id='storyContentText') #{story.content.slice(0,100)+'...'}
            .storyBoxContentImgBox
          .storyBoxFooter 
            a(id='topic-link' href="#")=story.topicType  
            a(id='game-link' href="#")=story.Game.title
    
