extends layout.pug

append head
  //- add page specific styles by appending to the head
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
 
block content
    #centeringDiv
      div
        #topStoryFilterBar
          if followFeeds !== -1
            p(id="filterlabel") Filter Articles:
            p(id='storyFilterLink' class="storyFilterLink clicked") Stories
            p(id='feedFilterLink' class="storyFilterLink") My Feed   
          else
            //p(id='storyFilterLink' class="storyFilterLink clicked") Stories
            - followFeeds = [];
          end
        h1= title 
        .storiescontainer(id='storyFilterContainer')
          each story in stories
            div(class="storyBoxWrapper" id=`storyId${story.id}`)
              .storyBox
                .storyBoxHeader
                  .storyBoxHeaderProfile
                    img(src=`/img/users/user${story.userId%20}.png` height='20px')
                    p(id="userNameText")=`${story.User.userName.toUpperCase()}`
                    - let date = story.createdAt.toString();
                    p(id='storyWrittenDate')=`${date.slice(0,15)}`
                  .storyBoxHeaderMenu
                    .dropdown
                      i(class="fa fa-bars" aria-hidden="true" id='dropbtn')
                      .dropdown-content             
                        if story.isbookmarked === 1
                          div(class='bookmarkBtn fab' id=`faID${story.id}ID${userId}`)
                            i(class="fa fa-bookmark" aria-hidden="true")
                        else
                          div(class='bookmarkBtn' id=`faID${story.id}ID${userId}`)
                            i(class="fa fa-bookmark-o" aria-hidden="true" class='bookmarkBtn' id=`faID${story.id}ID${userId}`)
                        end
                        if userId === story.userId
                          a(href=`/stories/edit/${story.id}`)
                            i(class="fa fa-pencil-square-o" aria-hidden="true")
                          a(href=`/stories/delete/${story.id}`)
                            i(class="fa fa-trash-o" aria-hidden="true")
                        end
                .storyBoxContent(class="storyBoxClick" id=`SBHId${story.id}`)
                  .storyBoxContentTextBox
                    h2=story.title.toUpperCase()
                    p(id='storyContentText') #{story.content.slice(0,200)+'...'}
                  .storyBoxContentImgBox
                    img(src=`/img/gameimg/game${story.gameId}.png` height='120px')
                .storyBoxFooter
                  #topicButton
                    a(id='topiclink' href="")=story.topicType
                  p(id='gameTitleText' href="")=story.Game.title
                  if userId !== 0
                  .bookmarkImgBox(class='bookmarkBtn' id=`bkmimgCID${story.id}ID${userId}`)
                    if story.isbookmarked === 1
                      img(src='/img/bookmarks_black.png' id=`bmrkimgID${story.id}ID${userId}` height='20px')
                    else
                      img(src='/img/bookmarks_white.png' id=`bmrkimgID${story.id}ID${userId}` height='20px')
                    end
                  end
        .storiescontainer(id='feedFilterContainer' class='hiddenF')
          if followFeeds.length !== 0
          each feed in followFeeds
            //div(class="storyBoxWrapper hiddenProfile" id=`storyId${feed.id}`)
            div(class="storyBoxWrapper" id=`storyId${feed.id}`)
              .storyBox
                .storyBoxHeader(class="storyBoxClick" id=`SBHId${feed.id}`)
                  .storyBoxHeaderProfile
                    img(src=`/img/users/user${feed.userId%20}.png` height='20px')
                    p(id="userNameText")=`${feed.User.userName.toUpperCase()}`
                    - let date = feed.createdAt.toString();
                    p(id='storyWrittenDate')=`${date.slice(0,15)}`
                  .storyBoxHeaderMenu
                    .dropdown
                      i(class="fa fa-bars" aria-hidden="true" id='dropbtn')
                      .dropdown-content
                        if feed.isbookmarked === 1
                          div(class='bookmarkBtn fab' id=`faID${feed.id}ID${userId}`)
                            i(class="fa fa-bookmark" aria-hidden="true")
                        else
                          div(class='bookmarkBtn' id=`faID${feed.id}ID${userId}`)
                            i(class="fa fa-bookmark-o" aria-hidden="true" class='bookmarkBtn' id=`faID${feed.id}ID${userId}`)
                        end
                        if userId === feed.userId
                          a(href=`/stories/edit/${feed.id}`)
                            i(class="fa fa-pencil-square-o" aria-hidden="true")
                          a(href=`/stories/delete/${feed.id}`)
                            i(class="fa fa-trash-o" aria-hidden="true")
                        end
                .storyBoxContent(class="storyBoxClick" id=`SBHId${feed.id}`)
                  .storyBoxContentTextBox
                    h2=feed.title.toUpperCase()
                    p(id='storyContentText') #{feed.content.slice(0,200)+'...'}
                  .storyBoxContentImgBox
                    img(src=`/img/gameimg/game${feed.gameId}.png` height='120px')
                .storyBoxFooter
                  #topicButton
                    a(id='topiclink' href="")=feed.topicType
                  p(id='gameTitleText' href="")=feed.Game.title
                  if userId !== 0
                  .bookmarkImgBox(class='bookmarkBtn' id=`bkmimgCID${feed.id}`)
                    if feed.isbookmarked === 1
                      img(src='/img/bookmarks_black.png' id=`bmrkimgbID${feed.id}ID${session}` height='20px')
                    else
                      img(src='/img/bookmarks_white.png' id=`bmrkimgwID${feed.id}ID${session}` height='20px')
                    end
                  end
          else
            div(class="storyBoxWrapper hiddenProfile")
              p There are no feeds, follow people...   
