extends layout.pug
include utils.pug
block content
  h1= title
  .containerBoxWrapper
    .containerBox
      .headerBox
        img(src='/img/usericon.png' width='100px')
        a(href='#') #{story.topicType}
      .storyContentBox
        h2=story.title
        p=story.content
        img(src='/img/storycontent.webp' width="300px")
      .editDelButtonBox
        button.pushable
          span.shadow
          span.edge
          span.front
            a(href=`/stories/edit/${story.id}`) Edit
        button.pushable
          span.shadow
          span.edge
          span.front
            a(href=`/stories/delete/${story.id}`) Delete
      .commentBoxWrapper
        .commentList
          .commentFormBox
            //form(action='/comments/new' method='post')
            form(id='create-form')
              input(type='hidden' name='_csrf' value=csrfToken)
              input(id='storyCId' type='hidden' name='storyId' value=story.id)
              +field('', 'comment', '', 'textarea')
              div(class='py-4')
                button(id='comment-button' type='submit' class='comment-create-btn') Write Comment
        .commentList1(id='comment-list')
          each coin in coins
            .commentBox(id=`comment-box-${coin.Comment.id}`)
              .commentBoxContent
                .profile
                  img(src='/img/usericon.png' width='50px')
                  p=`${coin.User.firstName} ${coin.User.lastName}`
                .commentBoxBubble 
                  p(id=`comment-content-${coin.Comment.id}`)=coin.Comment.comment
              .editDelButtonBox(class='refresh-button') 
                button.pushable(class='comment-edit-btn' id=`editId${coin.Comment.id}`) Edit 
                form(class='hidden' id=`edit-form-${coin.Comment.id}`) 
                  input(type='hidden' name='_csrf' value=csrfToken)
                  label(for="content") Comment: 
                  input(type="text" name='content' value=coin.Comment.comment id=`comment-field-${coin.Comment.id}`)
                  button(class='edit-submit-btn' id=`edit-btn-${coin.Comment.id}`) Submit Edit
                
                button.pushable(class='comment-delete-btn' id=`deleteId${coin.Comment.id}`) Delete
              .CoinBox(class='refresh-button')
                button(class='coin-btn' id=`coin-${coin.Comment.id}`)=`${coin.count}`