extends layout.pug 
include utils.pug 
block content
  h1= title
  .containerBoxWrapper
    .containerBox
      .headerBox 
        img(src='/img/usericon.png' width='100px')
        a(href='#') #{story.topicType}
      .storyContentBox
        h2=story.title
        p=story.content
        img(src='/img/storycontent.webp' width="300px")
      .editDelButtonBox 
        button.pushable
          span.shadow
          span.edge
          span.front 
            a(href='') Edit 
        button.pushable
          span.shadow
          span.edge
          span.front 
            a(href='') Delete
    .commentBoxWrapper
      .commentList
        div 
        table(class='table table-striped table-hover')
            thead(class='thead-dark')
              tr
                th(scope='col') User Name
                th(scope='col') Game Title
                th(scope='col') Comments
            tbody
              each comment in comments
                tr
                  td= `${comment.Story.User.firstName} ${comment.Story.User.lastName}`
                  td= comment.Story.Game.title
                  td= comment.comment
      .commentBox
        form(action='/comments/new' method='post')
          input(type='hidden' name='_csrf' value=csrfToken)
          input(type='hidden' name='storyId' value=story.id)
          +field('Comment', 'comment')
          div(class='py-4')
          button(type='submit' class='btn btn-primary') Write Comment