extends layout.pug
include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/storyDetail.css")

block content
  h1= title
  .containerBoxWrapper
    .containerBox
      .headerBox
        img(src=`/img/users/user${story.userId}.png` width='100px')
        a(href='#') #{story.topicType}
      .storyContentBox
        h2=story.title
        p=story.content
        img(src='/img/storycontent.webp' width="300px")
      .editDelButtonBox
        button.pushable
          span.shadow
          span.edge
          span.front
            a(href=`/stories/edit/${story.id}`) Edit
        button.pushable
          span.shadow
          span.edge
          span.front
            a(href=`/stories/delete/${story.id}`) Delete
      .coinBox 
         img(id="storyCoinSpinImage" src='/img/coin.png' width='60px')
         button.pushable
              span.shadow
              span.edge
              span.front
                a(id=`storyCoin-${story.id}` class='storyCoinImg' href=``) coin
         p(id='storyCoinText')=storyCoinsCount
         p(id='userStoryCoinText')=userStoryCoinsCount
         button.pushable(id=`strcomment${story.id}` class='strcomment') Comment

      //- .commentBoxWrapper
      //-   .commentList
      //-     .commentFormBox
      //-       //form(action='/comments/new' method='post')
      //-       form(id='create-form')
      //-         input(type='hidden' name='_csrf' value=csrfToken)
      //-         input(id='storyCId' type='hidden' name='storyId' value=story.id)
      //-         +field('', 'comment', '', 'textarea')
      //-         div(class='py-4')
      //-         button(id='comment-button' type='submit' class='comment-create-btn').pushable
      //-           span.shadow
      //-           span.edge
      //-           span.front Comment
      //-   .commentList1(id='comment-main-wrapper')
      //-     each comment in comments
      //-       .commentBox(id=`comment-box-${comment.id}`)
      //-         .commentBoxContent
      //-           .profile
      //-             img(src=`/img/users/user${comment.User.id}.png` width='50px')
      //-             p=`${comment.User.firstName} ${comment.User.lastName}`
      //-           .commentBoxBubble
      //-             p(id=`comment-content-${comment.id}`)=comment.comment
      //-             //p(id=`comment-content-${comment.id}`)='asdf'
      //-         .editDelButtonBox(class='refresh-button')
      //-           button.pushable(class='comment-edit-btn' id=`editID${comment.id}ID${comment.User.id}ID${session.id}`) Edit
      //-           form(class='hidden' id=`edit-form-${comment.id}`)
      //-             input(type='hidden' name='_csrf' value=csrfToken)
      //-             label(for="content") Comment:
      //-             input(type="text" name='content' value=comment.comment id=`comment-field-${comment.id}`)
      //-             button(class='edit-submit-btn' id=`edit-btn-${comment.id}`) Submit Edit

      //-           button.pushable(class='comment-delete-btn' id=`deleteID${comment.id}ID${comment.User.id}ID${session.id}`) Delete
      //-         .commentExtra(class='refresh-button')
      //-           .cELeft
      //-             .cECoin 
      //-               .cECoinImg(id=`coinID${comment.id}ID${comment.User.id}ID${session.id}` class='coin-btn')
      //-                 img(id=`coinID${comment.id}ID${comment.User.id}ID${session.id}` src='/img/coin.png' width='20px' class='coinimg animated bounce') 
      //-               .cECoinCnt(id=`cntID${comment.id}ID${comment.User.id}ID${session.id}`)= `${sum[`${comment.id}`]}`
      //-           .cEMid
      //-           .cERight
                script(src="/javascripts/coinSound.js" type="module") 
                script(src="/javascripts/coin-story.js" type="module")
