extends layout.pug
include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/storyDetail.css")

block content
  h1= title
  .containerBoxWrapper
    .containerBox
      .headerBox
        .headerBoxImg
          img(src=`/img/users/user${story.userId}.png` width='100px')
        .headerBoxTopic
          h2=story.title
          p #{story.topicType}
      .storyContentBox

        p=story.content
        img(src=`/img/gameimg/game${story.gameId}.png` width="300px")
    if session.id === story.userId
      .editDelButtonBox
        button.pushable
          span.shadow
          span.edge
          span.front
            a(href=`/stories/edit/${story.id}`) Edit
        button.pushable
          span.shadow
          span.edge
          span.front
            a(href=`/stories/delete/${story.id}`) Delete
    else
      p Can't edit/delete a story that isn't yours
    .coinBox
       img(id="storyCoinSpinImage" src='/img/coin.png' width='60px')
       button.pushable
            span.shadow
            span.edge
            span.front
              a(id=`storyCoin-${story.id}` class='storyCoinImg' href=``) coin
       p(id='storyCoinText')=storyCoinsCount
       p(id='userStoryCoinText')=userStoryCoinsCount
       button.pushable(id=`strcomment${story.id}` class='strcomment') Comment
