extends layout.pug 
include utils.pug 
block content
  h1= title
  div
    p=story.title
    p=story.content
    p=story.topicType
    p=story.userId
    p=story.gameId
    a(href='') Edit 
    a(href='') Delete