extends layout.pug
include utils.pug

block content
  link(rel='stylesheet' href='/stylesheets/newStory.css')
  #centeringdiv
    #WriteStoryBoxWrapper
      #WriteStoryBox
        #writeStoryErrorBox
          +validationErrorSummary(errors)
        #writeStoryHeader
          h1= title
        #writeStoryFormBox
          form(action=`/stories/edit/${story.id}` method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            +field('Title', 'title', story.title)
            +field('Story', 'content', story.content, "textarea")
            - let list = ["Story", "Review", "Walkthrough"]
            label Select Topic
              select(name="topicType")
                each item in list
                  if item === story.topicType
                    option(value=`${item}` selected) #{item}
                  else 
                    option(value=`${item}`) #{item}
                  end
              label Select Game
                select(name="gameId")
                  each game in games
                    if game.id === story.Game.id
                      option(value=`${game.id}` selected) #{game.title}
                    else
                      option(value=`${game.id}`) #{game.title}
                    end
            #writeStoryButtonBox
              button#newStoryButton(type='submit') Edit Story
              a(id="newStoryCancel" href=`/stories/${story.id}` class="nes-btn is-error") Cancel
